name = "astrbot-tg-button"
main = "cf/src/index.ts"
compatibility_date = "2026-01-30"

[durable_objects]
bindings = [{ name = "STATE_STORE", class_name = "StateStore" }]

[assets]
directory = "webui_dist"
binding = "ASSETS"

[[r2_buckets]]
binding = "FILE_BUCKET"
bucket_name = "tg-button-cache"

[[migrations]]
tag = "v1"
new_classes = ["StateStore"]
